{% extends 'base.html.twig' %}

{% form_theme formProductCreation 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {% if not app.user %}
        <div class="container">
            <div class="jumbotron">
                <div class="error-header">
                    <span class="badge badge-danger">Erreur</span>
                    <h2>Erreur 403 : Accès refusé</h2>
                </div>
            <p>Vous n'avez pas la permission d'accéder à la page : <strong> {{ app.request.uri }} </strong>. Veuillez vous connecter pour y remédier.</p>
                <div class="error-img">
                    <img src="http://avenirclimatique.org/wp-content/uploads/2015/05/forbidden.png"/>
                </div>
            </div>
        </div>
    {% else %}
        {% if editMode %}
            <h1>Modification d'un produit</h1>
        {% else %} 
            <h1>Création d'un produit</h1>
        {% endif %}
        
        {{ form_start(formProductCreation) }}
            {{ form_row(formProductCreation.name) }}
            {{ form_row(formProductCreation.category) }}
            {{ form_row(formProductCreation.description) }}
            {{ form_row(formProductCreation.barCode) }}
            {{ form_row(formProductCreation.localisation) }}
            {{ form_row(formProductCreation.stock) }}
        
        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Enregistrer
            {% else %} 
                Créer un produit
            {% endif %}
        </button>
        {{ form_end(formProductCreation) }}
    {% endif %}
{% endblock %}