{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

<div class="container">
    {% if not app.user %}
        <div class="jumbotron">

            <div class="error-header">
                <span class="badge badge-danger">Erreur</span>
                <h2>Erreur 403 : Accès refusé</h2>
            </div>
            <p>Vous n'avez pas la permission d'accéder à la page : <strong> {{ app.request.uri }} </strong>. Veuillez vous connecter pour y remédier.</p>
            <br/>
            <div class="error-img">
                <img src="http://avenirclimatique.org/wp-content/uploads/2015/05/forbidden.png"/>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            {{ form_start(search_form) }}
            {{ form_row(search_form.name, {'label': 'Nom', 'attr': {'placeholder': 'Nom du produit à rechercher'}}) }}
            
            <div class="input-group">
                {{ form_row(search_form.barCode, {'label': 'Code barre', 'id': 'scanner_input', 'attr': {'placeholder': 'Code barre du produit à rechercher'}}) }}
            </div><!-- /input-group -->
            <div class="input-group-btn"> 
                <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#livestream_scanner">Scanner</button>
                <i class="fa fa-barcode"></i>
            </div>
            <div class="modal" id="livestream_scanner">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Barcode Scanner</h4>
                        </div>
                        <div class="modal-body" style="position: static">
                            <div id="interactive" class="viewport"></div>
                            <div class="error"></div>
                        </div>
                        <div class="modal-footer">
                            <label class="btn btn-default pull-left">
                                <i class="fa fa-camera"></i> Use camera app
                                <input type="file" accept="image/*;capture=camera" capture="camera" class="hidden" />
                            </label>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            {{ form_row(search_form.category) }}
            <button class="btn btn-primary">Rechercher</button>
            {{ form_end(search_form) }}
        </div>
        <a href="{{ path('create_product') }}" class="btn btn-success">Ajouter produit</a>

</div>
        <section class="products">
            <div class="container">
                {% if all_products|length == 0 %}
                    <hr>
                    <label>Aucun produit ne correspond à la recherche.</label>
                {% else %}
                <div class="row">
                    {% for product in all_products %}
                        <article class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header bg-primary" style="color: white">
                                    {% if product.stock == 0 %}
                                        <span class="badge badge-danger" style="float: right; margin: 2px">Rupture de stock</span>
                                    {% endif %}
                                    {{ product.name }}
                                </div>
                                <div class="card-body">
                                    <p>Catégorie: {% if product.category != null %} {{ product.category.title }} {% endif %}</p>
                                    <p>Code barre : {{ product.barCode }}</p>
                                    <p>Stock : {{ product.stock }} </p>
                                    <div class="actions" style="text-align : center">
                                        <a href="{{ path('product_sheet', {'id': product.id}) }}" class="btn btn-primary" style="margin: 2px">Consulter fiche produit</a>
                                        {% if app.user and app.user.roles[0] == 'ROLE_ADMIN' %}
                                            <a href="{{ path('product_history', {'id': product.id}) }}" class="btn btn-primary" style="margin: 2px">Consulter historique</a>
                                        {% endif %}
                                        <div class="crud">
                                            <a href="{{ path('delete_product', {'id': product.id}) }}" type="button" class="btn btn-danger" style="margin: 2px">Supprimer</button>
                                            <a href="{{ path('edit_product', {'id': product.id}) }}" type="button" class="btn btn-success" style="margin: 2px">Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="pagination">
                {{ knp_pagination_render(all_products) }}
            </div>
        </section>
    {% endif %}
</div>

{% endblock %}
