{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

<div class="container">
    {% if not app.user %}
        <div class="jumbotron">
            <div class="error-header">
                <span class="badge badge-danger">Erreur</span>
                <h2>Erreur 403 : Accès refusé</h2>
            </div>
            <p>Vous n'avez pas la permission d'accéder à la page : <strong> {{ app.request.uri }} </strong>. Veuillez vous connecter pour y remédier.</p>
            <br/>
            <div class="error-img">
                <img src="http://avenirclimatique.org/wp-content/uploads/2015/05/forbidden.png"/>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            {{ form_start(search_form) }}
            {{ form_row(search_form.name, {'label': 'Nom', 'attr': {'placeholder': 'Nom du produit à rechercher'}}) }}
            {{ form_row(search_form.barCode, {'label': 'Code barre', 'attr': {'placeholder': 'Code barre du produit à rechercher'}}) }}
            {{ form_row(search_form.category) }}
            <button class="btn btn-primary">Rechercher</button>
            {{ form_end(search_form) }}
        </div>
        <a href="{{ path('create_product') }}" class="btn btn-success">Ajouter produit</a>
        

    <div class="row">
    	<div class="col-lg-6">
    		<div class="input-group">
    			<input id="scanner_input" class="form-control" placeholder="Click the button to scan an EAN..." type="text" /> 
    			<span class="input-group-btn"> 
    				<button class="btn btn-default" type="button" data-toggle="modal" data-target="#livestream_scanner">
    					<i class="fa fa-barcode"></i>
    				</button> 
    			</span>
    		</div><!-- /input-group -->
    	</div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="modal" id="livestream_scanner">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    					<span aria-hidden="true">&times;</span>
    				</button>
    				<h4 class="modal-title">Barcode Scanner</h4>
    			</div>
    			<div class="modal-body" style="position: static">
    				<div id="interactive" class="viewport"></div>
    				<div class="error"></div>
    			</div>
    			<div class="modal-footer">
    				<label class="btn btn-default pull-left">
    					<i class="fa fa-camera"></i> Use camera app
    					<input type="file" accept="image/*;capture=camera" capture="camera" class="hidden" />
    				</label>
    				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    			</div>
    		</div><!-- /.modal-content -->
    	</div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    

    <script type="text/javascript" src="assets/js/libs/quagga.min.js"></script>
    <style>
    	#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
    	#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
    	canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}
    </style>
    <script type="text/javascript">
    $(function() {
    	// Create the QuaggaJS config object for the live stream
    	var liveStreamConfig = {
    			inputStream: {
    				type : "LiveStream",
    				constraints: {
    					width: {min: 640},
    					height: {min: 480},
    					aspectRatio: {min: 1, max: 100},
    					facingMode: "environment" // or "user" for the front camera
    				}
    			},
    			locator: {
    				patchSize: "medium",
    				halfSample: true
    			},
    			numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
    			decoder: {
    				"readers":[
    					{"format":"ean_reader","config":{}}
    				]
    			},
    			locate: true
    		};
    	// The fallback to the file API requires a different inputStream option. 
    	// The rest is the same 
    	var fileConfig = $.extend(
    			{}, 
    			liveStreamConfig,
    			{
    				inputStream: {
    					size: 800
    				}
    			}
    		);
    	// Start the live stream scanner when the modal opens
    	$('#livestream_scanner').on('shown.bs.modal', function (e) {
    		Quagga.init(
    			liveStreamConfig, 
    			function(err) {
    				if (err) {
    					$('#livestream_scanner .modal-body .error').html('<div class="alert alert-danger"><strong><i class="fa fa-exclamation-triangle"></i> '+err.name+'</strong>: '+err.message+'</div>');
    					Quagga.stop();
    					return;
    				}
    				Quagga.start();
    			}
    		);
        });
    	
    	// Make sure, QuaggaJS draws frames an lines around possible 
    	// barcodes on the live stream
    	Quagga.onProcessed(function(result) {
    		var drawingCtx = Quagga.canvas.ctx.overlay,
    			drawingCanvas = Quagga.canvas.dom.overlay;
     
    		if (result) {
    			if (result.boxes) {
    				drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
    				result.boxes.filter(function (box) {
    					return box !== result.box;
    				}).forEach(function (box) {
    					Quagga.ImageDebug.drawPath(box, {x: 0, y: 1}, drawingCtx, {color: "green", lineWidth: 2});
    				});
    			}
     
    			if (result.box) {
    				Quagga.ImageDebug.drawPath(result.box, {x: 0, y: 1}, drawingCtx, {color: "#00F", lineWidth: 2});
    			}
     
    			if (result.codeResult && result.codeResult.code) {
    				Quagga.ImageDebug.drawPath(result.line, {x: 'x', y: 'y'}, drawingCtx, {color: 'red', lineWidth: 3});
    			}
    		}
    	});
    	
    	// Once a barcode had been read successfully, stop quagga and 
    	// close the modal after a second to let the user notice where 
    	// the barcode had actually been found.
    	Quagga.onDetected(function(result) {    		
    		if (result.codeResult.code){
    			$('#scanner_input').val(result.codeResult.code);
    			Quagga.stop();	
    			setTimeout(function(){ $('#livestream_scanner').modal('hide'); }, 1000);			
    		}
    	});
        
    	// Stop quagga in any case, when the modal is closed
        $('#livestream_scanner').on('hide.bs.modal', function(){
        	if (Quagga){
        		Quagga.stop();	
        	}
        });
    	
    	// Call Quagga.decodeSingle() for every file selected in the 
    	// file input
    	$("#livestream_scanner input:file").on("change", function(e) {
    		if (e.target.files && e.target.files.length) {
    			Quagga.decodeSingle($.extend({}, fileConfig, {src: URL.createObjectURL(e.target.files[0])}), function(result) {alert(result.codeResult.code);});
    		}
    	});
    });
    </script>



</div>
        <section class="products">
            <div class="container">
                {% if all_products|length == 0 %}
                    <hr>
                    <label>Aucun produit ne correspond à la recherche.</label>
                {% else %}
                <div class="row">
                    {% for product in all_products %}
                        <article class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header bg-primary" style="color: white">
                                    {% if product.stock == 0 %}
                                        <span class="badge badge-danger" style="float: right; margin: 2px">Rupture de stock</span>
                                    {% endif %}
                                    {{ product.name }}
                                </div>
                                <img class="card-img-bottom-top" style="width: 100%; display: block" src="{{ product.image }}" alt ="">
                                <div class="card-body">
                                    <p>Catégorie: {% if product.category != null %} {{ product.category.title }} {% endif %}</p>
                                    <p>Code barre : {{ product.barCode }}</p>
                                    <p>Stock : {{ product.stock }} </p>
                                    <div class="actions" style="text-align : center">
                                        <a href="{{ path('product_sheet', {'id': product.id}) }}" class="btn btn-primary" style="margin: 2px">Consulter la fiche produit</a>
                                        <div class="crud">
                                            <a href="{{ path('delete_product', {'id': product.id}) }}" type="button" class="btn btn-danger" style="margin: 2px">Supprimer</button>
                                            <a href="{{ path('edit_product', {'id': product.id}) }}" type="button" class="btn btn-success" style="margin: 2px">Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="pagination">
                {{ knp_pagination_render(all_products) }}
            </div>
        </section>
    {% endif %}
</div>

{% endblock %}
