{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<div class="container">
    {% if not app.user %}
        <div class="jumbotron">
            <div class="error-header">
                <span class="badge badge-danger">Erreur</span>
                <h2>Erreur 403 : Accès refusé</h2>
            </div>
            <p>Vous n'avez pas la permission d'accéder à la page : <strong> {{ app.request.uri }} </strong>. Veuillez vous connecter pour y remédier.</p>
            <div class="error-img">
                <img src="http://avenirclimatique.org/wp-content/uploads/2015/05/forbidden.png"/>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            {{ form_start(search_form) }}
            {{ form_row(search_form.firstname, {'label': 'Prénom', 'attr': {'placeholder': 'Nom du produit à rechercher'}}) }}
            {{ form_row(search_form.lastname, {'label': 'Nom', 'attr': {'placeholder': 'Nom du produit à rechercher'}}) }}
            <button class="btn btn-primary">Rechercher</button>
            {{ form_end(search_form) }}
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: auto">
            <label class="btn btn-primary active">
                <input type="radio" checked="" autocomplete="off"> Tous
            </label>
            <label class="btn btn-primary">
                <input type="radio" checked="" autocomplete="off"> Professeur
            </label>
            <label class="btn btn-primary">
                <input type="radio" autocomplete="off"> Eleve
            </label>
        </div>

        <a href="#" class="btn btn-success" style="float:right">Ajouter utilisateur</a>
</div>

        <section class="users">
            <div class="container">
                <div class="row">
                    {% for user in users %}
                        <article class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header bg-primary" style="color: white">
                                    <span class="badge badge-light" style="float: right; margin: 2px"> {{ user.status }} </span>
                                    {{ user.firstname}} {{user.lastname}}
                                </div>
                                <div class="card-body">
                                    <p>Statut : {{ user.status }}</p>
                                    <p>Classe : 
                                        {% if user.class == null %}
                                            Aucune
                                        {% else %}
                                            {{ user.class }}
                                        {% endif %}
                                    </p>
                                    <div class="actions" style="text-align : center">
                                        <a href="#" class="btn btn-primary" style="margin: 2px">Consulter l'historique</a>
                                        <div class="crud">
                                            <a href="{{ path('delete_user', {'id': user.id}) }}" type="button" class="btn btn-danger" style="margin: 2px">Supprimer</a>
                                            <button type="button" class="btn btn-success" style="margin: 2px">Modifier</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
        <div class="pagination">
            {{ knp_pagination_render(users) }}
        </div>
    {% endif %}   

{% endblock %}