{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
<div class="container">
    {% if not app.user %}
        <div class="jumbotron">
            <div class="error-header">
                <span class="badge badge-danger">Erreur</span>
                <h2>Erreur 403 : Accès refusé</h2>
            </div>
            <p>Vous n'avez pas la permission d'accéder à la page : <strong> {{ app.request.uri }} </strong>. Veuillez vous connecter pour y remédier.</p>
            <div class="error-img">
                <img src="http://avenirclimatique.org/wp-content/uploads/2015/05/forbidden.png"/>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            {{ form_start(search_form) }}
            {{ form_row(search_form.firstname, {'label': 'Prénom', 'attr': {'placeholder': 'Nom de l\'utilisateur à rechercher'}}) }}
            {{ form_row(search_form.lastname, {'label': 'Nom', 'attr': {'placeholder': 'Nom de l\'utilisateur à rechercher'}}) }}
            {{ form_row(search_form.status, {'label': 'Statut'})}}
            <button class="btn btn-primary">Rechercher</button>
            {{ form_end(search_form) }}
        </div>

        <a href="{{ path('security_registration') }}" class="btn btn-success">Ajouter utilisateur</a>
        <a href="{{ path('change_user_display') }}" class="btn btn-secondary">Changer affichage</a>
</div>
        {% if current_display == 'card' %}
        <section class="users">
            <div class="container">
                <div class="row">
                    {% for user in users %}
                        <article class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header bg-primary" style="color: white">
                                    {{ user.firstname}} {{user.lastname}}
                                </div>
                                <div class="card-body">
                                    <p>Statut : {% if user.status != null %} {{ user.status.title }} {% endif %}</p>
                                    <p>Classe : 
                                        {% if user.class == null %}
                                            Aucune
                                        {% else %}
                                            {{ user.class }}
                                        {% endif %}
                                    </p>
                                    <div class="actions" style="text-align : center">
                                        <a href="{{ path('user_history', {'id': user.id}) }}" class="btn btn-primary" style="margin: 2px">Consulter l'historique</a>
                                        <div class="crud">
                                            <a href="{{ path('delete_user', {'id': user.id}) }}" type="button" class="btn btn-danger" style="margin: 2px">Supprimer</a>
                                            <a href="{{ path('edit_security_registration', {'id': user.id}) }}" type="button" class="btn btn-success" style="margin: 2px">Modifier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% else %}
        <section class="users">
            <div class="container">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr class="table-header">
                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{% if user.status != null %} {{ user.status.title }} {% endif %}</td>  
                                    <td>
                                        <a href="{{ path('user_history', {'id': user.id}) }}" class="btn btn-primary" style="margin: 2px">Consulter l'historique</a>
                                        <a href="{{ path('delete_user', {'id': user.id}) }}" type="button" class="btn btn-danger" style="margin: 2px">Supprimer</a>
                                        <a href="{{ path('edit_security_registration', {'id': user.id}) }}" type="button" class="btn btn-success" style="margin: 2px">Modifier</a>
                                    </td>                              
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        {% endif %}
        <div class="pagination">
            {{ knp_pagination_render(users) }}
        </div>
    {% endif %}   

{% endblock %}