{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

<div class="container" style="margin-top: 5px; margin-bottom: 5px">
    <input class="form-control" type="text" placeholder="Rechercher un utilisateur">
    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin: auto">
        <label class="btn btn-primary active">
            <input type="radio" checked="" autocomplete="off"> Tous
        </label>
        <label class="btn btn-primary">
            <input type="radio" checked="" autocomplete="off"> Professeur
        </label>
        <label class="btn btn-primary">
            <input type="radio" autocomplete="off"> Eleve
        </label>
    </div>

    <a href="#" class="btn btn-success" style="float:right">Ajouter utilisateur</a>
</div>

<section class="users">
    <div class="container">
        <div class="row">
            {% for user in users %}
                <article class="col-md-4">
                    <div class="card border-primary mb-3">
                        <div class="card-header bg-primary" style="color: white">
                            <span class="badge badge-light" style="float: right; margin: 2px"> {{ user.status }} </span>
                            {{ user.firstname}} {{user.lastname}}
                        </div>
                        <div class="card-body">
                            <p>Statut : {{ user.status }}</p>
                            <p>Classe : 
                                {% if user.class == null %}
                                    Aucune
                                {% else %}
                                    {{ user.class }}
                                {% endif %}
                            </p>
                            <div class="actions" style="text-align : center">
                                <a href="#" class="btn btn-primary" style="margin: 2px">Consulter l'historique</a>
                                <div class="crud">
                                    <a href="{{ path('delete_user', {'id': user.id}) }}" type="button" class="btn btn-danger" style="margin: 2px">Supprimer</a>
                                    <button type="button" class="btn btn-success" style="margin: 2px">Modifier</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
<div class="pagination">
    {{ knp_pagination_render(users) }}
</div>

{% endblock %}