{% extends 'base.html.twig' %}

{% block body %}

    {% if editMode %}
        <h1>Modification d'un utilisateur</h1>
    {% else %} 
        <h1>Inscription sur le site</h1>
    {% endif %}

    {{ form_start(form) }}
    
    {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}
    {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Confirmation du mot de passe'}}) }}
    {{ form_row(form.firstname, {'label': 'Prénom', 'attr': {'placeholder': 'Prénom'}}) }}
    {{ form_row(form.lastname, {'label': 'Nom', 'attr': {'placeholder': 'Nom'}}) }}
    {{ form_row(form.status, {'label': 'Statut'}) }}
    {{ form_row(form.class, {'label': 'Classe', 'attr': {'placeholder': 'Classe'}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %} Enregistrer {% else %} Inscription {% endif %}
    </button>
    
    {{ form_end(form) }}

{% endblock %}